<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Khai Bao Bean -->
	<bean id="hello" class="vn.edu.iuh.aop.HelloAOP" />
	<bean id="demoBeforeAdvice" class="vn.edu.iuh.aop.BeforeAdvice" />
	<bean id="demoAfterAdvice" class="vn.edu.iuh.aop.AfterAdvice" />
	<bean id="demoThrowAdvice" class="vn.edu.iuh.aop.ThrowAdvice" />
	<bean id="demoAroundAdvice" class="vn.edu.iuh.aop.AroundAdvice" />
	
	<bean id="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="hello"/>
		<property  name="interceptorNames">
			<list>
				<value>demoBeforeAdvice</value>
				<value>demoAfterAdvice</value>
				<value>demoThrowAdvice</value>
				<value>demoAroundAdvice</value>
			</list>
		</property>
	</bean>
</beans>